*{
    margin:0;
    padding:0;
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #301934;
    color:#fff;
    padding-inline:45px;
    border-bottom: 1px solid purple;
}
.navbar-left{
    display: flex;
    align-items: center;
}
.navbar-brand{
    font-size: 1.8rem;
    margin-right: 20px;
    text-decoration: none;
    color:#fff;
}
.navbar-link{
    color:#fff;
    text-decoration: none;
    margin-left: 20px;
}
.navbar-link:hover{
    text-decoration: underline;
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding-inline: 0; 
    }
  
    .navbar-left {
      margin-bottom: 10px; 
    }
  
    .navbar-link {
      margin-left: 0; 
      margin-bottom: 10px; 
    }
  }